body {
	background-color: #20B2AA;
	text-align: center;
}
h1{
	text-align: center;
	text-transform: uppercase;
	color: #f8f8ff;
	text-shadow: 2px 2px #606060;
}
#game {
    width: 300px;
    height: 300px;
    border: 1px solid #606060;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
}

#game > li {
    list-style: none;
    float: left;
    overflow: hidden;
    text-decoration:none;
    width: 100px;
    height: 100px;
    background: #f1f1f1;
    border: 1px solid #606060;
    border-right: 1px solid #606060;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 40px;
    color: #606060;
}

#game > li:hover {
	border: 1px solid #dfdfdf;
	transition: 0.2s;
}
.xWinner, .oWinner, .noWinner {
display: none;
color: black;
text-shadow: none;
text-transform: none;
}

.popUp{
    display: none;
    background-color: white;
    opacity: 0.7;
    padding: 3em;
    border: none;
    margin-right: 10em;
    margin-left: 10em;
    border-radius: 12px;
}

.newGameButton{
    background-color: #004c4c;
    color: white;
}

button{
	border-radius: 12px;
	padding: 1em;
	text-transform: uppercase;
	margin: 0 auto;
}
@media only screen and (max-width: 1030px) {

}
